<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="">
    <meta name="google-site-verification" content="PmJLwJHYDYWWI6vGS-Al2bLLsjYemgdoIGF5yx9HzTk" />
    <link rel="shortcut icon" href="http://aws.amazon.com/favicon.ico">

    <title>Landsat on AWS - LC08_L1TP_022034_20170908_20170908_01_RT</title>

    <!--link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css"-->
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>


    <!-- Bootstrap core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://s3-us-west-2.amazonaws.com/landsatonaws.com-production-us-west-2/assets/css/ie10-viewport-bug-workaround.css"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="https://s3-us-west-2.amazonaws.com/landsatonaws.com-production-us-west-2/assets/css/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/landsatonaws.com-production-us-west-2/assets/css/styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid col-xs-12 col-md-8 col-md-offset-1">
        <header>
            <a href="http://aws.amazon.com/what-is-cloud-computing">
                <img src="https://s3-us-west-2.amazonaws.com/landsatonaws.com-production-us-west-2/assets/img/375px-AWS_Logo_Web-Black.png"
                    alt="Powered by AWS Cloud Computing" class="pull-right" id="aws_header_logo">
            </a>
            <p>
                <a href="http://">Landsat on AWS</a> /
                <a href="http://L8">L8</a> /
                <a href="http://L8/022">022</a> /
                <a href="http://L8/022/034">034</a>
            </p>
            <h1>LC08_L1TP_022034_20170908_20170908_01_RT</h1>
            <p>
                Endpoint:
                <code>s3://landsat-pds/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/</code>
            </p>
        </header>
        <hr>
        <div class="row">

            <div class="col-md-8">
                <h2>True Color Preview</h2>
                <div id="map"></div>
                <!--img src="Landsat%20on%20AWS%20-%20LC08_L1TP_022034_20170908_20170908_01_RT_files/LC08_L1TP_022034_20170908_20170908_01_RT_thumb_large.jpg" class="img-responsive"-->
                <p>
                    <input type="checkbox" id="labels" name="labels" checked="true"> Labels</p>
                <p>
                    <button id="expand-map" name="expand-map"> Expand</button>
                </p>
                </p>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Image Acquisition (start)</td>
                            <td>Fri Sep 08 2017, 16:30:13 UTC</td>
                        </tr>
                        <tr>
                            <td>Cloud Cover</td>
                            <td>0.08%</td>
                        </tr>
                        <tr>
                            <td>Off Nadir Angle</td>
                            <td>-0.001</td>
                        </tr>
                        <tr>
                            <td>Sun Azimuth</td>
                            <td>145.52091018</td>
                        </tr>
                        <tr>
                            <td>Sun Elevation</td>
                            <td>53.16836239</td>
                        </tr>
                        <tr>
                            <td>Earth Sun Distance</td>
                            <td>1.0141560</td>
                        </tr>
                        <tr>
                            <td>License</td>
                            <td>
                                <a href="https://spdx.org/licenses/PDDL-1.0.html">PDDL-1.0</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Provider</td>
                            <td>
                                <a href="https://landsat.usgs.gov/">U.S. Geological Survey</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Files</h2>
                <h3>GeoTIFFs</h3>
                <ul class="scene_files">
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B1.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B1.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B10.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B10.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B11.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B11.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B2.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B2.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B3.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B3.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B4.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B4.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B5.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B5.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B6.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B6.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B7.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B7.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B8.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B8.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B9.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_B9.TIF</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_BQA.TIF">LC08_L1TP_022034_20170908_20170908_01_RT_BQA.TIF</a>
                        </samp>
                    </li>
                </ul>
                <h3>Overview Files</h3>
                <ul class="scene_files">
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B1.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B1.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B10.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B10.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B11.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B11.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B2.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B2.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B3.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B3.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B4.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B4.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B5.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B5.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B6.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B6.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B7.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B7.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B8.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B8.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_B9.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_B9.TIF.ovr</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_BQA.TIF.ovr">LC08_L1TP_022034_20170908_20170908_01_RT_BQA.TIF.ovr</a>
                        </samp>
                    </li>
                </ul>
                <h3>JPEG Previews</h3>
                <ul class="scene_files">
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_thumb_large.jpg">LC08_L1TP_022034_20170908_20170908_01_RT_thumb_large.jpg</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_thumb_small.jpg">LC08_L1TP_022034_20170908_20170908_01_RT_thumb_small.jpg</a>
                        </samp>
                    </li>
                </ul>
                <h3>Metadata Files</h3>
                <ul class="scene_files">
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_ANG.txt">LC08_L1TP_022034_20170908_20170908_01_RT_ANG.txt</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_MTL.json">LC08_L1TP_022034_20170908_20170908_01_RT_MTL.json</a>
                        </samp>
                    </li>
                    <li>
                        <samp>
                            <a href="http://landsat-pds.s3.amazonaws.com/c1/L8/022/034/LC08_L1TP_022034_20170908_20170908_01_RT/LC08_L1TP_022034_20170908_20170908_01_RT_MTL.txt">LC08_L1TP_022034_20170908_20170908_01_RT_MTL.txt</a>
                        </samp>
                    </li>
                </ul>
            </div>

            <footer class="footer">
            </footer>
        </div>
        <!-- /container -->


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://s3-us-west-2.amazonaws.com/landsatonaws.com-production-us-west-2/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="../scripts/map.js"></script>
</body>

</html>